.basicButton {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 40px;
  transition: all 0.3s ease-in-out;

  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}
