---
import styles from './style.module.scss'

import ContactForm from '~/components/forms/ContactForm/index.astro'
import TitleText from '~/components/typographys/TitleText.astro'
---

<div class={styles.contactContainer}>
  <TitleText>Contact</TitleText>
  <ContactForm />
</div>
