---
import styles from './style.module.scss';
import BaseText from '~/components/typographys/BaseText.astro';
import TitleText from '~/components/typographys/TitleText.astro';
---

<div class={styles.sponsorsContainer}>
  <TitleText>Sponsors</TitleText>
  <div class={styles.contents}>
    <BaseText>
      この世の終わりゲーミングは以下の企業様よりスポンサーいただいています。
    </BaseText>
    <div class={styles.sponsorsList}>
      <img src="/images/sponsors/iikanji.png" width="200" height="200" alt="iikanji" />
      <img src="/images/sponsors/kawaiigia.png" width="200" height="200" alt="kawaiigia" />
      <img src="/images/sponsors/ouchidaisuki.png" width="200" height="200" alt="ouchidaisuki" />
      <img src="/images/sponsors/sokushikon.png" width="200" height="200" alt="sokushikon" />
      <img src="/images/sponsors/soreppoi.png" width="200" height="200" alt="soreppoi" />
      <img src="/images/sponsors/tsuyoso.png" width="200" height="200" alt="tsuyoso" />
      <img src="/images/sponsors/sankaku.png" width="200" height="200" alt="sankaku" />
    </div>
  </div>
</div>
