.sponsorsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 16px;
  padding-top: 70px;

  gap: 40px;

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 24px;

    .sponsorsList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}
