.textInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;

  .label {
    color: var(--color-white);
    font-size: 15px;
  }
  .input {
    background-color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
  }
}
