<head>
  <title>この世の終わりゲーミング</title>
  <meta
    name="description"
    content="このジャングルのようなオンライン戦場で、この世の終わりのようなプレイングをしてくるやつらを正す存在。ゲーミングチーム「この世の終わりゲーミング」の公式サイトです。"
  />
  <link rel="icon" href="/favicon.ico" />

  <link rel="manifest" href="/site.webmanifest" />
  <meta charset="UTF-8" />
  <meta name="msapplication-TileColor" content="#2f245c" />
  <meta name="theme-color" content="#2f245c" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@andmohiko" />

  <meta property="og:url" content={'https://konoowa.vercel.app/'} />
  <meta property="og:title" content={`この世の終わりゲーミング`} />
  <meta
    property="og:description"
    content={
      'このジャングルのようなオンライン戦場で、この世の終わりのようなプレイングをしてくるやつらを正す存在。ゲーミングチーム「この世の終わりゲーミング」の公式サイトです。'
    }
  />
  <meta property="og:site_name" content="この世の終わりゲーミング" />
  <meta
    property="og:image"
    content={'https://konoowa.vercel.app/images/konoowa.png'}
  />

  <link rel="stylesheet" href="/styles/globals.css" />
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/variables.css" />
</head>
