.membersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 16px;
  padding-top: 70px;

  gap: 40px;

  .membersList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 64px;
  }
}
