
  <h1 class='h1'>
    <slot />
  </h1>

<style>
.h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 1rem;
  color: var(--color-white);
}

.h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 0.8rem;
  color: var(--color-white);
}

.h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: var(--color-white);
}
</style>